/* src/index.css */
/* css-diagnostics-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  background-color: #000;
  color: #fff;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
